#watchedthreads {
    background-color:#F0E0D6 !important;
}
.abbrev {
    color:#707070;
}
.adminbar {
    text-align:right;
    clear:both;
    float:right;
}
.catalogmode {
    background:#0040E0;
    text-align:center;
    padding:2px;
    color:#FFFFFF;
    width:100%;
}
.commentpostername {
    color:#117743;
    font-weight:800;
}
.delbuttons {
    text-align:center;
    padding-bottom:4px;
}
.dellist {
    font-weight:bold;
    text-align:center;
}
.doubledash {
    vertical-align:top;
    clear:both;
    float:left;
}
.filesize {
    text-decoration:none;
}
.filetitle {
    background:inherit;
    font-size:1.2em;
    color:#CC1105;
    font-weight:800;
}
.footer {
    text-align:center;
    font-size:12px;
    font-family:serif;
}
.highlight {
    background:#F0E0D6;
    color:#800000;
    border:2px dashed #EEAA88;
    width:100%;
}
.logo {
    clear:both;
    text-align:center;
    font-size:2em;
    color:#800000;
    width:100%;
}
.managehead {
    background:#AAAA66;
    color:#400000;
    padding:0px;
}
.oldpost {
    color:#CC1105;
    font-weight:800;
}
.omittedposts {
    color:#707070;
}
.passvalid {
    background:#EEAA88;
    text-align:center;
    width:100%;
    color:#ffffff;
}
.postarea {
}
.postblock {
    background:#EEAA88;
    color:#800000;
    font-weight:800;
}
.postername {
    color:#117743;
    font-weight:bold;
}
.postertrip {
    color:#228854;
}
.postlists {
    background:#FFFFFF;
    width:100%;
    padding:0px;
    color:#800000;
}
.reflink a:hover{
    font-weight:bold;
}
.reflinkpreview {
    background-color:#F0E0D6 !important;
}
.reply {
    background:#F0E0D6;
    color:#800000;
    width:100%;
}
.replyhl {
    background:#F0C0B0;
    color:#800000;
}
.replymode {
    background:#E04000;
    text-align:center;
    padding:2px;
    color:#FFFFFF;
    width:100%;
}
.replytitle {
    font-size:1.2em;
    color:#CC1105;
    font-weight:800;
}
.reportabuse {
    float:right;
    margin:0.5em 1.0em;
    font-size:0.7em;
    color:#D40000;
    cursor:pointer;
}
.row1 {
    background:#EEEECC;
    color:#800000;
}
.row2 {
    background:#DDDDAA;
    color:#800000;
}
.rules {
    font-size:0.7em;
}
.rules li {
    margin-left:1em;
}
.theader {
    background:#E04000;
    text-align:center;
    padding:2px;
    color:#FFFFFF;
    width:100%;
}
.thumbnailmsg {
    font-size:small;
    color:#800000;
}
.unkfunc {
    background:inherit;
    color:#789922;
}
a {
    color:#0000EE;
}
a:hover {
    color:#DD0000;
}
html, body {
    background:#FFFFEE;
    color:#800000;
}
