<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

RewriteEngine On
RewriteRule ^([\w]{1,16})/$ preview.php?b=$1 [NE,L]
RewriteRule ^([\w]{1,16})$ preview.php?b=$1 [NE,L]
RewriteRule ^([\w]{1,16})/([\d]+)/$ threads.php?b=$1&t=$2 [NE,L]
RewriteRule ^([\w]{1,16})/([\d]+)$ threads.php?b=$1&t=$2 [NE,L]
RewriteRule ^([\w]{1,16})/([\d]+)/([\d]+)/$ threads.php?b=$1&t=$2&p=$3 [NE,L]
RewriteRule ^([\w]{1,16})/([\d]+)/([\d]+)$ threads.php?b=$1&t=$2&p=$3 [NE,L]
RewriteRule ^([\w]{1,16})/p([\d]+)/$ preview.php?b=$1&p=$2 [NE,L]
RewriteRule ^([\w]{1,16})/p([\d]+)$ preview.php?b=$1&p=$2 [NE,L]
RewriteRule ^([\w]{1,16})/r([\d]+)/$ removepost.php?b=$1&r=$2 [NE,L]
RewriteRule ^([\w]{1,16})/r([\d]+)$ removepost.php?b=$1&r=$2 [NE,L]